{% extends 'base.html' %}

{% block title %} Index {% endblock title %}

{% block content %}

<div class="container">
    <div class="row py-4">
        <div class="col-md-12">
            <h4 class="text-center">Country List</h4>
        </div>
        <div class="col-md-12">
            <ul class="list-group-flush list-unstyled">
                {% for country in object_list %}
                <li class="list-group-item">
                    <a href="{% url 'details' country.name %}" class="text-decoration-none">{{country.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}